body {
    font-family: 'Raleway', sans-serif;
}

/* Admin page container styling */
.admin-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

/* Admin section styling for separation */
.admin-section {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.admin-section h1, .admin-section h2 {
    background-color: rgb(248, 60, 60);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Styling for buttons */
button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #ffcc00;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff9900;
}

/* Input fields */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Section for user items */
#user-list {
    margin-top: 20px;
    overflow: scroll;
    max-height: 200px;
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Delete button for user items */
.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #c82333;
}
