/* Page-specific Container */
.login-container {
  background-color: #ffffff;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
  margin-top: 60px; /* Added margin to lower the position */
}

.logo img {
  width: 120px;
  margin-bottom: 30px;
}
