.logo img { 

    width: 100px; 

    height: auto; 

    margin-bottom: 20px; 

} 

 

/* Form styling */ 

form { 

    margin-top: 20px; 

    text-align: left; 

} 

 

.input-group { 

    margin-bottom: 20px; 

} 

 

.input-group label { 

    display: block; 

    margin: 5px 0; 

} 

 

.input-group input[type="text"] { 

    width: 100%; 

    padding: 10px; 

    margin-bottom: 10px; 

    border: 1px solid #ccc; 

    border-radius: 4px; 

} 

 

button.button { 

    background-color: #1a73e8; 

    color: white; 

    border: none; 

    padding: 10px 20px; 

    font-size: 1em; 

    cursor: pointer; 

    border-radius: 4px; 

} 

 

button.button:hover { 

    background-color: #155ab5; 

} 

 

/* Section styles */ 

.documentos, .referencias { 

    margin-bottom: 20px; 

} 

 

.documentos h2, .referencias h2 { 

    color: #333; 

    font-size: 1.5em; 

} 

 

.documentos span, .referencias span { 

    display: block; 

    margin-bottom: 10px; 

} 

 

.documentos input[type="file"], .referencias input[type="text"] { 

    margin-top: 5px; 

    padding: 10px; 

    border: 1px solid #ccc; 

    border-radius: 4px; 

} 

 

.documentos input[type="file"] { 

    width: 100%; 

} 

