* {
  box-sizing: border-box;
}
.foto-p {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background: #f1f1f1;
}


/* Header/Blog Title */
.box {
  display: flex;
  width: 100%;
  text-align: left;
  background: white;
}


.he-izq {
  float: left;
  width: 45%;
}


.he-der {
  float: left;
  width: 45%;
}
a{
  float: left;
  width: auto;
}


/* Crea dos columnas desiguales que floten una al lado de la otra. */
/* Columna izquierda */
.leftcolumn {
  float: left;
  width: 50%;
}


/* Columna derecha */
.rightcolumn {
  float: left;
  width: 50%;
  padding-left: 20px;
}


/* Falsa Imagen */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


/* Agregar un efecto de tarjeta para artículos */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}


.card1 {
  text-align: center;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}


.checked {
  color: rgba(255, 0, 0, 0.507);
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  /*
    La propiedad CSS clear especifica si un elemento puede estar al lado
    de elementos flotantes que lo preceden o si debe ser movido (cleared)
    debajo de ellos.
   
    */
}


/* Responsive layout - cuando la pantalla tiene menos de 800 px de ancho, hace que las dos columnas se apilen una encima de la otra en lugar de una al lado de la otra */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}