/* General Styles - Shared Across Pages */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

button, input, select, textarea {
    font-family: inherit;
}

p, h2, h3 {
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffcc00; /* Updated to match button color */
}

/* Shared Button Styles */
.button {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 12px 20px; /* Increased padding for better interaction */
    border-radius: 5px; /* Slightly rounded corners */
    cursor: pointer;
    font-size: 18px; /* Slightly larger text */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.button:hover {
    background-color: #ff9900;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background-color: #ddd;
}

.container-3-column {
    display: grid;
    grid-template-columns: 200px 1fr 350px;
    height: 100vh;
    overflow: hidden;
 } 

 .container-2-column {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  overflow: hidden;
} 

/* Centered Containers */
.centered-container {
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    margin: 60px auto auto auto; /* Added top margin to lower the position */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Centered Containers */
.centered-container__login {
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    margin: 60px auto auto auto; /* Added top margin to lower the position */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo img {
    width: 120px;
    margin-bottom: 30px;
}
