/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr 300px;
  height: 100vh;
  overflow: hidden;
}

header {
  padding: 20px;
  background-color: rgb(248, 60, 60);
  color: white;
  text-align: center;
}

/* Sidebar Styles */
.sidebar {
  background-color: whitesmoke;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
}
#searchbar {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 100px; /* Ajusta el radio de los bordes según sea necesario */
  outline: none; /* Elimina el borde de enfoque predeterminado del navegador */
  font-size: 16px;
  width: 300px; /* Ajusta el ancho de la barra de búsqueda */
}

.logo-img {
  width: 100px;
  margin-bottom: 20px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(248, 60, 60);
  cursor: pointer;
  border-radius: 60px;
  text-align: center;
  color: #ddd;
}

.menu ul li:hover {
  background-color: #ff7d7d;
}

/* Feed Styles */
.feed {
  overflow-y: auto;
  padding: 20px;
  background-color: white;
}

.picks-for-you {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.review {
  background-color: #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.review:hover {
  background-color: #ccc;
}

/* News Styles */
.news {
  background-color: white;
  padding: 20px;
  overflow-y: auto;
}

.new-movies {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.movie {
  background-color: #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.movie:hover {
  background-color: #ccc;
}
